* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 34%;
  height: 100%;
  border: 2px solid black;
  margin: 32px auto;
}

.row {
  padding: 0 90px;
}

.header__line {
  margin-top: 12%;
  border: 2px solid black;
}

.header {
  width: 100%;
  margin-top: 34px;
  display: flex;
  justify-content: start;
}

.subtitle {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 24px;
}

.text__color--green {
  color: #2bd209;
}

.personal__info {
  width: 100%;
  margin-top: 32px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  line-height: 1.5;
}
.personal__info p {
  margin-top: 10px;
}

.bold__text {
  font-weight: 700;
}

.skill__section p {
  margin-top: 8px;
}

.education__section {

}

.subtitle__edu {
  margin-top: 40px;
  margin-bottom: 12px;
}

.para__height {
  margin-bottom: 10px;
}

.text__color--blue {
  color: #319de5;
  margin-top: 8px;
}

.loa1 {
  margin-left: 32px;
  line-height: 1.5;
}

.experience__section p {
  margin-top: 10px;
}


.section__pt2 {
    margin-top: 32px;
}

.Across__section {
    margin-bottom: 10%;
}

.Across__section p {
    margin-top: 16px;
    font-size: 24px;
}
.Across__section p:hover {
    margin-top: 16px;
    font-size: 24px;
}